<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="index.css"> 
    <title>Home Page</title>
</head>
<body>
    <h2>Welcome Authorization World</h2>

    <a href="/"><button class="btn">Home</button></a>
    <a href="/register"><button class="btn">Register</button></a>
    <a href="/profile"><button class="btn">Profile</button></a><br><br>
    <a href="/login"><button class="btn">Login</button></a>
    <a href="/logout"><button class="btn">Logout</button></a>
    <script src ="js/all.js"></script>
    <script src ="js/bootstrap.bundle.js"></script>

</body>
</html>